<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NodeChat</title>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/chatController.js" type="text/javascript"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="chatApp">
        <div ng-controller="chatController">
            <label>Käyttäjänimi:</label><br>
            <input ng-model="messageToServer.sender" type="text" /><br>
            <label>Kirjoita viesti</label><br>
            <input ng-model="messageToServer.content" type="text" /><br>
            <button ng-click="sendMessage()">Send message</button>
            <div ng-repeat="message in messagesToClient">
                <p><strong>{{message.sender}}</strong>: {{message.content}}</p>
            </div>
        </div>
    </body>
</html>
